/* Định dạng tổng quan */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7f6;
    color: #333;
    line-height: 1.6;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: #2c3e50;
}

form {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* .form-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
} */

label {
    font-size: 1rem;
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    color: #34495e;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 20px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    color: #ffffff;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

h2 {
    text-align: center;
    color: #27ae60;
    margin-top: 20px;
}

